<ion-view cache-view="false" view-title="Histórico de doenças" class="texto-default histoDoencas">

    <ion-nav-bar class="custom-color bar-balanced">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons>
        </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content class="applyFooter">
    <div class="tituloHistoDoencas">
      <h3>Histórico Familiar</h3>
    </div>
    <div class="row">
      <div class="col">
        <ion-list id="idListAntecedentes">
          <ion-item ng-repeat="parentesco in antecedentesF | orderBy:'DescricaoParentesco'" href="#/menu/minha-saude/historico-de-doencas/antecedentes-familiares/editar-antecedentes-familiares/{{parentesco}}"
                    class="no-padding item item-remove-animate item-icon-right">
     
              <p class="resetp ptitlebold">{{ parentesco.DescricaoParentesco}}</p>
              <ion-option-button class="button delete-button icon-left" ng-click="removerAntecedenteF(parentesco.Id)"><i class="icon ion-trash-b"></i></ion-option-button>
              <i class="icon ion-edit"></i>
   
            <div ng-repeat="antecedente in parentesco.AntecedentesFamiliares | orderBy:'Descricao'" class="item-antecedenteF">
              <p class="resetp">{{ antecedente.Descricao}}</p>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
    <!--<div class="bar bar-footer bar-stable">
        <a href="#/menu/minha-saude/historico-de-doencas/antecedentes-familiares/adicionar-antecedentes-familiares" class="button button-rodape-full">ADICIONAR</a>
    </div>-->
     <div id="footerAlergias" class="bar bar-footer bar-luz">
            <a class="button pull-right iconAddAlergias" href="#/menu/minha-saude/historico-de-doencas/antecedentes-familiares/adicionar-antecedentes-familiares" >
                   <img id="btnFooterAlergia" class="iconAddAlergias button pull-right" />                    
            </a>    
       </div>
</ion-view>
