<ion-view cache-view="true" view-title="Dados Monitorados" class="texto-default">

    <ion-nav-bar class="custom-color bar-balanced">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons>
        </ion-nav-buttons>
    </ion-nav-bar>
    <form name="valor_form" novalidate>
        <ion-content>
            <div class="item item-divider">
                <h2>Informe o valor</h2>
            </div>
            <div class="list card">
                <div class="item item-input">
                    <label class="item item-input item-stacked-label">
                           <span class="input-label">DATA</span>    
                           <input type="text" ng-model="valor.DT_CRIACAO" placeholder="__/__/____" name="data" ng-focus="abrirPopupCalendario()" required>                                       
                         </label>
                </div>
                <div class="item item-input">
                    <label class="item item-input item-stacked-label"> 
                           <span class="input-label">VALOR</span>     
                             <input type="text" ng-model="valor.VALOR" name="valor"  placeholder="Digite o valor"  allow-decimal-numbers required>
                         </label>
                </div>
            </div>
        </ion-content>
    </form>
    <div class="bar bar-footer bar-stable">
        <a ng-click="cancelarValor()" class="button button-rodape-metade">CANCELAR</a>
        <a ng-click="adicionarValor()" class="button button-rodape-metade" ng-disabled="valor_form.data.$error.required || valor_form.valor.$error.required">SALVAR</a>
    </div>
</ion-view>