<ion-view cache-view="false" view-title="Atendimento Preferencial"class=main>

    <ion-nav-bar class="custom-color bar-balanced">

        <ion-nav-back-button>
       </ion-nav-back-button>		
        <ion-nav-buttons>
    </ion-nav-buttons>
         
  <ion-content class="preferencial" scroll="false" > 
        <label class="labelpreferencial">Você apresenta uma das condições abaixo?</label>  
   
        <div>
           <button class="button" ng-click="usuarioPreferencial(true)">Sim</button>
           <button class="button" ng-click="usuarioPreferencial(false)">Não</button> 
        </div>     
     
  
    </ion-content>
</ion-view>  